<div class="l-download -dododo c-visible_wide c-others">
    <div class="l-download__row">
        <div class="l-download__qr"><img src="<%= pageInfo.relPath %>assets/img/common/download/qr.png" alt="" /></div>
        <p class="l-download__txt">
            <picture>
                <source media="(max-width:1620px)" srcset="<%= pageInfo.relPath %>assets/img/common/download/txt_narrow.png" />
                <img src="<%= pageInfo.relPath %>assets/img/common/download/txt.png" alt="" />
            </picture>
        </p>
    </div>

    <div class="l-download__links">
        <a href="<%= common.dl.appstore %>" target="_blank" class="l-download__links__item top-pc-as-play">
            <img src="<%= pageInfo.relPath %>assets/img/common/btn_appstore.png" alt="" />
        </a>
        <a href="<%= common.dl.googleplay %>" target="_blank" class="l-download__links__item top-pc-gp-play">
            <img src="<%= pageInfo.relPath %>assets/img/common/btn_googleplay.png" alt="" />
        </a>
    </div>

    <div class="l-download__charas">
        <div class="l-download__chara -ft">
            <div class="p-sprite__slime__green -slow"></div>
        </div>
        <div class="l-download__chara -sec">
            <div class="p-sprite__slime__blue -slow -delay"></div>
        </div>
    </div>
</div>
