<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= pageInfo.meta.title %></title>

<link rel="alternate" hreflang="ja" href="<%= common.og.og_url %>">

<meta name="description" content="<%= pageInfo.meta.description %>" />
<meta property="og:title" content="<%= pageInfo.meta.title %>" />

<meta name="robots" content="index, follow">
<link rel="canonical" href="<%= common.og.og_url %>">

<!-- Open Graph Meta Tags -->
<meta property="og:description" content="<%= pageInfo.meta.description %>" />
<meta property="og:image" content="<%= pageInfo.og ? pageInfo.og.og_image : common.og.og_image %>" />
<meta property="og:url" content="<%= pageInfo.og ? pageInfo.og.og_url : common.og.og_url %>">
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="<%= common.og.twitter %>" />
<meta name="twitter:creator" content="<%= common.og.twitter %>" />
<meta name="twitter:title" content="<%= pageInfo.meta.title %>" />
<meta name="twitter:description" content="<%= pageInfo.meta.description %>" />
<meta name="twitter:image" content="<%= pageInfo.og ? pageInfo.og.og_image : common.og.og_image %>" />

<!-- Favicon and Apple Touch Icon -->
<link rel="shortcut icon" type="image/png" href="<%= pageInfo.og ? pageInfo.og.favicon : common.og.favicon %>" />
<link rel="apple-touch-icon" href="<%= common.og.apt %>" />

<!-- Apple Meta Tags -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="<%= pageInfo.meta.title %>">

<!-- Cache Control -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<!-- Fonts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp-noto.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap">

<!-- PAGE CSS -->
<%# page css loop %>
<% pages[pageId].css.forEach(function (value) { %>
<link rel="stylesheet" href="<%= value %>" />
<% }); %>
