<div class="foot">
    <div class="foot__inner">
        <div class="foot__main">
            <div class="foot__main__treasure">
                <img src="<%= imgDir %>ph_treasure.webp" alt="" width="230" height="104" loading="lazy">
            </div>
            <div class="foot__main__anime">
                <img src="<%= imgDir %>anime_main.png" alt="" width="390" height="184" loading="lazy">
            </div>
            <div class="foot__main__txt">
                <img src="<%= imgDir %>txt_main.svg" alt="" width="150" height="44" loading="lazy">
            </div>
        </div>
        <a href="<%= common.dl.common %>" target="_blank" rel="noopener noreferrer" class="foot__link">
            <img src="<%= commonDir %>ph_btn_play.webp" alt="ゲームプレイで豪華賞品が当たる！今すぐプレイ！" width="350" height="98" loading="lazy">
        </a>
        <div class="foot__lower">
            <div class="foot__sns">
                <p class="foot__sns__lead">最新情報はコチラ!</p>
                <div class="foot__sns___links">
                    <a href="<%= common.snslinks.twitter %>" target="_blank" rel="noopener noreferrer">
                        <img src="<%= commonDir %>icon_x.svg" alt="X" width="56" height="56" loading="lazy">
                    </a>
                    <a href="<%= common.snslinks.line %>" target="_blank" rel="noopener noreferrer">
                        <img src="<%= commonDir %>icon_line.svg" alt="LINE" width="56" height="56" loading="lazy">
                    </a>
                </div>
            </div>
            <a href="/ja/" class="foot__home">公式サイトはこちら！</a>
            <details class="foot__notice">
                <summary class="foot__notice__btn">キャンペーン参加時の注意事項<span class="foot__notice__btn__icon"></span></summary>
                <div class="foot__notice__contents">
                    <p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
                </div>
            </details>
        </div>
    </div>
</div>
