<div class="fv">
    <h1 class="fv__main">
        <img src="<%= imgDir %>logo.webp" alt="LINE ドドドバトル" width="277" height="168">
    </h1>
    <div class="fv__main">
        <img src="<%= imgDir %>fv.webp" alt="">
    </div>
    <a href="<%= common.dl.common %>" target="_blank" rel="noopener noreferrer" class="fv__btn">
        <img src="<%= imgDir %>btn.webp" alt="">
    </a>
    <a href="" target="_blank" rel="noopener noreferrer" class="fv__x">
        <img src="<%= imgDir %>btn_x.webp" alt="">
    </a>
    <div class="fv__movie">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vKVjBJdGjPI?si=10av6yFuEiMwL7oE"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>