<div class="download c-visible_wide">
    <div class="download__row">
        <div class="download__qr"><img src="<%= pageInfo.relPath %>assets/img/download/qr.png" alt=""></div>
        <p class="download__txt">
            <picture>
                <source media="(max-width:1620px)" srcset="<%= pageInfo.relPath %>assets/img/download/txt_narrow.png" />
                <img src="<%= pageInfo.relPath %>assets/img/download/txt.png" alt="">
            </picture>
        </p>
    </div>

    <div class="download__links">
        <a href="" target="_blank" class="download__links__item">
            <img src="<%= pageInfo.relPath %>assets/img/common/btn_appstore.png" alt="">
        </a>
        <a href="" target="_blank" class="download__links__item">
            <img src="<%= pageInfo.relPath %>assets/img/common/btn_googleplay.png" alt="">
        </a>
    </div>

    <div class="download__charas">
        <div class="download__chara -ft">
            <div class="p-sprite__slime__green -slow"></div>
        </div>
        <div class="download__chara -sec">
            <div class="p-sprite__slime__blue -slow -delay"></div>
        </div>
    </div>
</div>