<section class="mv -<%= position %>">

    <% if ( position === 'top' ) { %>
    <p class="mv__maincatch">
        <img src="<%= pageInfo.relPath %>assets/img/mv/txt_maincatch.png" alt="押し寄せる！ドドドな爽快感！">
    </p>

    <div class="mv__chara -sally">
        <img src="<%= pageInfo.relPath %>assets/img/mv/ph_sally.png" alt="">
    </div>

    <div class="mv__chara -brown">
        <img src="<%= pageInfo.relPath %>assets/img/mv/ph_brown.png" alt="">
    </div>

    <% } %>

    <h1 class="mv__logo">
        <img src="<%= pageInfo.relPath %>assets/img/mv/logo.png" alt="LINEドドドバトル">
    </h1>

    <div class="mv__dl c-visible_nrw">
        <p class="mv__dl__txt">
            <img src="<%= pageInfo.relPath %>assets/img/mv/txt_dl.png" alt="好評配信中！">
        </p>
        <a class="mv__dl__btn" href="" target="_blank">
            <img src="<%= pageInfo.relPath %>assets/img/mv/btn_dl.png" alt="今すぐダウンロード！">
        </a>
    </div>

    <div class="mv__links">
        <a class="mv__links__btn" href="" target="_blank">
            <img src="<%= pageInfo.relPath %>assets/img/mv/btn_line.png" alt="">
        </a>

        <a class="mv__links__btn" href="" target="_blank">
            <img src="<%= pageInfo.relPath %>assets/img/mv/btn_x.png" alt="">
        </a>
    </div>
</section>