<div class="wide c-visible_wide">
    <div class="wide__content">

        <div class="wide__content__l">
            <div class="wide__links">
                <a href="" target="_blank" class="wide__links__btn">
                    <img src="<%= pageInfo.relPath %>assets/img/wide/btn_line.png" alt="キャンペーンをチェック！">
                </a>
                <a href="" target="_blank" class="wide__links__btn">
                    <img src="<%= pageInfo.relPath %>assets/img/wide/btn_x.png" alt="最新情報をチェック！">
                </a>
            </div>
        </div>

       <div class="wide__content__r">
            <div class="wide__dl">
                <div class="wide__dl__row">
                    <div class="wide__dl__qr"><img src="<%= pageInfo.relPath %>assets/img/wide/qr.png" alt=""></div>
                    <p class="wide__dl__txt"><img src="<%= pageInfo.relPath %>assets/img/wide/txt.png" alt=""></p>
                </div>

                <div class="wide__dllinks">
                    <a href="" target="_blank" class="wide__dllinks__item">
                        <img src="<%= pageInfo.relPath %>assets/img/common/btn_appstore.png" alt="">
                    </a>
                    <a href="" target="_blank" class="wide__dllinks__item">
                        <img src="<%= pageInfo.relPath %>assets/img/common/btn_googleplay.png" alt="">
                    </a>
                </div>
    
            </div>
        </div>


    </div>
</div>