<%- include('./_wide', {pageInfo: pageInfo}) %>
<%- include('../common/_header', {pageInfo: pageInfo}) %>

<div class="contents">
    <main class="l-main">
        <div class="l-main__videobg">
            <video poster="<%= pageInfo.relPath %>assets/img/top/th_movie_bg.jpg" webkit-playsinline playsinline muted autoplay loop>
                <source src="<%= pageInfo.relPath %>assets/mov/pv.mp4" type="video/mp4" />
            </video>
        </div>

        <%- include('./_mv', {pageInfo: pageInfo, position: 'pagetop', posClass: 'hd'}) %>
        <%- include('./_about', {pageInfo: pageInfo}) %>
        <%- include('./_keywords', {pageInfo: pageInfo}) %>
        <%- include('./_mv', {pageInfo: pageInfo, position: 'pagebottom', posClass: 'ft'}) %>
        <%- include('./_bottom', {pageInfo: pageInfo}) %>
    </main>

    <%- include('../common/_footer', {pageInfo: pageInfo}) %>
</div>

<%- include('../common/_download', {pageInfo: pageInfo}) %> <%- include('./_moviemodal', {pageInfo: pageInfo}) %>
