<section class="mv -<%= position %>">
    <% if ( position === 'pagetop' ) { %>
    <p class="mv__maincatch">
        <img src="<%= pageInfo.relPath %>assets/img/top/mv/txt_maincatch.png" alt="押し寄せる！ドドドな爽快感！" />
    </p>

    <div class="mv__chara -sally">
        <img src="<%= pageInfo.relPath %>assets/img/top/mv/ph_sally.png" alt="" />
    </div>

    <div class="mv__chara -brown">
        <img src="<%= pageInfo.relPath %>assets/img/top/mv/ph_brown.png" alt="" />
    </div>

    <% } %>

    <h1 class="mv__logo">
        <img src="<%= pageInfo.relPath %>assets/img/top/mv/logo.png" alt="LINE ドドドバトル" />
    </h1>

    <div class="mv__dl c-visible_nrw">
        <p class="mv__dl__txt">
            <img src="<%= pageInfo.relPath %>assets/img/top/mv/txt_dl.png" alt="好評配信中！" />
        </p>
        <div class="c-ios c-ipad">
            <a class="mv__dl__btn top-<%= posClass %>-play" href="<%= common.dl.common %>" target="_blank">
                <img src="<%= pageInfo.relPath %>assets/img/top/mv/btn_dl.png" alt="今すぐダウンロード！" />
            </a>
        </div>
        <div class="c-android">
            <a class="mv__dl__btn top-<%= posClass %>-play c-android" href="<%= common.dl.common %>" target="_blank">
                <img src="<%= pageInfo.relPath %>assets/img/top/mv/btn_dl.png" alt="今すぐダウンロード！" />
            </a>
        </div>
    </div>

    <div class="mv__links">
        <a class="mv__links__btn top-<%= posClass %>-line" href="<%= common.snslinks.line %>" target="_blank">
            <img src="<%= pageInfo.relPath %>assets/img/top/mv/btn_line.png" alt="LINE キャンペーンをチェック！" />
        </a>

        <a class="mv__links__btn top-<%= posClass %>-x" href="<%= common.snslinks.twitter %>" target="_blank">
            <img src="<%= pageInfo.relPath %>assets/img/top/mv/btn_x.png" alt="X 最新情報をチェック！" />
        </a>
    </div>
</section>
