<div class="foot">
    <div class="foot__inner">
        <div class="foot__main">
            <div class="foot__main__treasure" data-foot-anime-sub="">
                <img src="<%= imgDir %>ph_treasure.webp" alt="" loading="lazy">
            </div>
            <div class="foot__main__anime" data-foot-anime-main="" data-apng-id="textfoot" data-apng-src="<%= imgDir %>anime_main.png">
            </div>
            <div class="foot__main__txt" data-foot-anime-sub="">
                <img src="<%= imgDir %>txt_main.svg" alt="" loading="lazy">
            </div>
        </div>
        <a href="<%= pageInfo.dl.common %>" target="_blank" rel="noopener noreferrer" class="top-ft-play foot__link" data-foot-anime-btn>
            <img src="<%= commonDir %>ph_btn_play.webp" alt="ゲームプレイで豪華賞品が当たる！今すぐプレイ！" loading="lazy">
        </a>
        <div class="foot__lower">
            <div class="foot__sns">
                <p class="foot__sns__lead">最新情報はコチラ!</p>
                <div class="foot__sns___links">
                    <a href="<%= pageInfo.snslinks.twitter %>" target="_blank" rel="noopener noreferrer" class="top-ft-x">
                        <img src="<%= commonDir %>icon_x.svg" alt="X" loading="lazy">
                    </a>
                    <a href="<%= pageInfo.snslinks.line %>" target="_blank" rel="noopener noreferrer" class="top-ft-line">
                        <img src="<%= commonDir %>icon_line.svg" alt="LINE" loading="lazy">
                    </a>
                </div>
            </div>
            <div class="foot__btns">
                <a href="../" target="_blank" rel="noopener noreferrer" class="top-ft-official foot__home">公式サイトはこちら！</a>
                <div class="foot__notice" aria-expanded="false" data-accordion-parent="notice">
                    <div class="foot__notice__btn top-ft-note" data-accordion-trigger="notice" aria-controls="notice">キャンペーン参加時の注意事項<span class="foot__notice__btn__icon"></span></div>
                    <div class="foot__notice__contents" id="notice">
                        <p data-accordion="notice">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
