<div class="mv">
    <div class="mv__inner">
        <h1 class="mv__logo" data-mv-anime-logo="">
            <img src="<%= imgDir %>logo.webp" alt="LINE ドドドバトル">
        </h1>
        <div class="mv__chara -brown" data-mv-anime-brown="">
            <img src="<%= commonDir %>chara_brown.webp" alt="">
        </div>
        <div class="mv__chara -sally" data-mv-anime-sally="">
            <img src="<%= commonDir %>chara_sally.webp" alt="">
        </div>
        <div class="mv__main" data-apng-id="mainVisual" data-apng-src="<%= imgDir %>anime_main.png"></div>
        <a href="<%= pageInfo.dl.common %>" target="_blank" rel="noopener noreferrer" class="mv__link top-hd-play" data-mv-anime-other>
            <img src="<%= commonDir %>ph_btn_play.webp" alt="ゲームプレイで豪華賞品が当たる！今すぐプレイ！">
        </a>
        <a href="https://x.com/intent/tweet?text=https%3A%2F%2Fdododo.game.line.me%2Fja%2Fdododo-cp%2F%0a%23%E3%83%89%E3%83%89%E3%83%89%E3%83%90%E3%83%88%E3%83%AB" target="_blank" class="mv__x top-hd-xshare" data-mv-anime-other="">
            <div class="mv__x__baloon" data-mv-anime-baloon="">
                <img src="<%= imgDir %>txt_baloon.svg" alt="お祝いしよう！">
            </div>
            <div class="mv__x__detail">
                <div class="mv__x__icon">
                    <img src="<%= imgDir %>icon_x.svg" alt="X">
                </div>
                <div class="mv__x__text">
                    <img src="<%= imgDir %>txt_x_hashtag.svg" alt="#ドドドバトル">
                </div>
            </div>
        </a>
    </div>
</div>
