<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>" />
<meta property="og:title" content="<%= meta.title %>" />

<meta name="robots" content="index, follow">
<link rel="canonical" href="<%= og.og_url %>">

<!-- Open Graph Meta Tags -->
<meta property="og:description" content="<%= meta.description %>" />
<meta property="og:image" content="<%= og.og_image %>" />
<meta property="og:url" content="<%= og.og_url %>">
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="<%= og.twitter %>" />
<meta name="twitter:creator" content="<%= og.twitter %>" />
<meta name="twitter:title" content="<%= meta.title %>" />
<meta name="twitter:description" content="<%= meta.description %>" />
<meta name="twitter:image" content="<%= og.og_image %>" />

<!-- Favicon and Apple Touch Icon -->
<link rel="shortcut icon" type="image/png" href="<%= pageInfo.relPath %><%= og.favicon %>" />
<link rel="apple-touch-icon" href="<%= pageInfo.relPath %><%= og.apt %>" />

<!-- Apple Meta Tags -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="<%= meta.title %>">

<!-- Cache Control -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<!-- PAGE CSS -->
<link href="assets/css/main.css" rel="stylesheet" type="text/css" />